.navbar {
    height: 60px;
    background-color: #222222a8;
    position: relative;
    border-bottom: 1px solid rgb(18, 18, 22);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-text {
    display: inline-flex;
    align-items: center;
    margin-left: 25px;
}

.logo-text-header {
    color: #6d6d6d;

    font-weight: 500;
    color: #cfcfcf;
    text-decoration: none;
    padding-bottom: 5px;
    box-shadow: none;
    transition: box-shadow 0.33s ease-out;

    &:hover {
        color: #ffffff;
        box-shadow: 0 5px 0 -4px currentColor;
    }
}

.logo:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.5em #64dbffaa);
    transition: 0.3s ease-in-out;
}

.nav-items a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 2em;
    margin: -2em;

    font-weight: 500;
    color: #cfcfcf;
    text-decoration: none;
    padding-bottom: 5px;
    box-shadow: none;
    transition: box-shadow 0.33s ease-out;

    &:hover {
        color: #ffffff;
        box-shadow: 0 5px 0 -4px currentColor;
    }
}

.nav-items div {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items div:not(:last-child) {
    margin-right: 60px;
}
