.content {
    margin-left: 15%;
    margin-right: 15%;
    height: 95vh;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    /* background-color: #1a1a1a; */
    /* background-color: #24242b; */
    background-color: #31313c;
}

.card {
    padding: 2em;
}

@media (max-width: 600px) {
    .content {
        margin: 0;
    }
}
