.content {
    margin-left: 20%;
    margin-right: 20%;
    height: 95vh;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(33, 36, 35);
}

.card {
    padding: 2em;
}
