.content {
    margin-left: 15%;
    margin-right: 15%;
    height: 95vh;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    background-color: #222222a8;
}

.card {
    padding: 2em;
}
